html,
body {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  font-family: 'Futura PT Medium';
}

h1,
p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: white;
}
.head{
  padding: 10px;
}
a{
  text-decoration: none;
  color: black;
}
section {
  text-align: center;
  color: black;
}
.phone{
  z-index: 100;
  position: absolute;
  left: 100px;
  top: 250px;
  width: 400px;
}
.first{
  z-index: 10;
  position: absolute;
  left: 100px;
  top: 250px;
  width: 400px;
  border-radius: 80px;
}
.pad{
  padding: 100px;
}
.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa96da;
}

.red {
	background-color: #fcbad3;
}
.orange {
	background-color: #ffffd2;
}
