*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "helvetica";
  margin: 30px;
}
h1{
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 20px;
}
h2{
  font-weight: 300;
  margin: 0 20px;
}
h3{
  font-weight: 200;
}
.demo{
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}
